<%= stylesheet_link_tag "cadastro.css" %>

<body>
  <div class="container-login">
    <div class="content-box">
        <div class="form-box">
          <h2>Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="input-box-email">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", class:"btn btn-info" , style:"margin-bottom: 5px" %>
            </div>
          <% end %>

          <%= render "devise/shared/links"%>
        </div>
      </div>
  </div>
</body>
