<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @bagmon.number %>
</p>

<p>
  <%= image_tag @bagmon.image, size: "250x250" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bagmon.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bagmon.type.name  %>
</p>

<%= link_to 'Edit', edit_bagmon_path(@bagmon) %> |
<%= link_to 'Back', bagmons_path %>
